.jsxTags__tags {
  max-height: 100px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.jsxTags__tagInput {
  display: inline-block;
}

.jsxTags__tagInput input {
  font-size: 12px;
}

div.jsxTags__selected span.jsxTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  border-radius: 2px;
}

div.jsxTags__selected a.jsxTags__remove {
  color: #aaa;
  margin-left: 5px;
}
